<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index</title>
  </head>
  <body>
    <h1>INDEX</h1>
    <table>
      <tr>
        <td>No</td>
        <td>Image</td>
      </tr>
      {{ if .image }} {{ for _, .image := range .image }}
      <tr>
        <td>1</td>
        <td>
          <img src="{{ .image }}" />
        </td>
      </tr>
      {{ endfor }} {{ end }}
    </table>

    <!-- {{ if .image }}
    <img src="{{ .image }}" />
    {{ end }} -->
    <!-- <h1>Hello, world!</h1> -->
  </body>
</html>
